@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.welcome {
    background-color: rgb(250, 247, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 6rem;
    padding-bottom: 0;
    color: #2b2d42;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}

.main {
    background-color: rgb(250, 247, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 6rem;
    min-height: 100vh;
    color: #2b2d42;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}

.button {
  background-color: #dce0d9;
  border: 0;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 500px;
  color: #2b2d42;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  transition-duration: 0.2s;
}

.button:hover {
  background-color: #9fb98a;
  transition-duration: 0.2s;
}